@import url(../index.css);

.nav .contact {
    font-size: 20px;
    color: #fff;
    text-align: right;
    transition: font-size .3s;
}

.nav-tb {
    display: table;
    width: 100%;
}

.nav-tr {
    display: table-row;
}

    .nav-tr .nav-td {
        display: table-cell;
    }

.footer {
    padding: 37px 0;
    font-size: 14px;
    background-color: #e0e7ef;
    line-height: 14px;
}

.btn {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
}

    .btn.download {
        color: #fff;
        font-size: 24px;
        padding: 17px 36px 17px 25px;
        border-radius: 8px;
        background-size: 30px 30px;
        transition: background .3s;
        background-color: #2AAADD;
        position: relative;
    }

        .btn.download::before {
            content: ' ';
            display: inline-block;
            vertical-align: middle;
            background: url(../../img/teacher/icon_download.svg) no-repeat;
            background-size: 32px 32px;
            margin: -5px 14px -4px 0;
            width: 32px;
            height: 32px;
        }

        .btn.download:hover {
            background-color: #3F6FB8;
        }

        .btn.download:active {
            background-color: #315892;
        }

.content {
    padding: 110px 0 38px;
    position: relative;
    background: url(../../img/teacher/background_2x.jpg) center center no-repeat;
    background-size: cover;
}

.banner-section {
    margin-bottom: 96px;
    color: #fff;
    text-align: center;
}

.section-logo .title {
    font-size: 24px;
    margin-top: 14px;
    line-height: 30px;
}

.section-banner {
    margin-top: 30px;
}

.section-download {
    margin-top: 92px;
}

    .section-download .title {
        font-size: 16px;
        margin-top: 14px;
        line-height: 24px;
    }

.info {
    padding: 38px;
    background-color: rgba(255,255,255,.5);
    border-radius: 5px;
    min-height: 100px;
}

    .info .title {
        color: #354053;
        font-size: 16px;
    }

    .info .detail .title {
        margin: 28px 0 0;
    }

    .info .detail .list {
        list-style: none;
        padding: 0;
        color: #354053;
        font-size: 14px;
        line-height: 24px;
        margin: 22px 0 0;
    }

@media screen and (max-width: 600px) {
    .section-banner img {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .nav .contact {
        font-size: 16px;
    }
}

@media screen and (max-width: 400px) {
    .nav .contact {
        font-size: 14px;
    }
}
