html {
    font-size: 62.5%;
}

body {
    font: 1.4rem "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

.main {
    position: relative;
    overflow: hidden;
}

.main img {
    width: 100%;
    height: auto;
}

.wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*background: url(../img/bg.jpg) no-repeat 0 0;*/
    /*background-size: 100% auto;*/
}

.download {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1.5rem;
    padding-right: 3rem;
    text-align: right;
    background: url(../img/logo.png) no-repeat 2.2rem 1.5rem #f2f2f2;
    background-size: auto 3.7rem;
}

.download d {
}

.btn {
    font-size: 1.6rem;
    border: .1rem solid #696969;
    border-radius: .4rem;
    padding: .7rem 1.2rem;
    text-decoration: none;
    background-image: -moz-linear-gradient(top, #fdfdfd, #dedede);
    background-image: -ms-linear-gradient(top, #fdfdfd, #dedede);
    background-image: -o-linear-gradient(top, #fdfdfd, #dedede);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#fdfdfd), to(#dedede));
    background-image: -webkit-linear-gradient(top, #fdfdfd, #dedede);
    background-image: linear-gradient(top, #fdfdfd, #dedede);
    color: #000;
    display: inline-block;
    vertical-align: middle;
}
