body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: Arial, Tahoma, "Microsoft YaHei", "\5b8b\4f53";
    overflow-x: hidden;
}

.container {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.header {
    background-color: #2aaadd;
    padding: 17px 0;
}

.header .nav {
    height: 100%;
    position: relative;
}

.nav > .logo {
    height: 86px;
    display: inline-block;
    vertical-align: middle;
}

.nav > .logo > img {
    height: 86px;
    width: auto;
    border: none;
}

.nav > .title {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 20px;
    color: #fff;
}

.footer {
    background-color: #333;
    padding: 40px 0;
    text-align: center;
}

.contact > .contact_qr_code,
.contact > .contact_info {
    display: inline-block;
    height: 140px;
    vertical-align: middle;
}

.contact > .contact_info {
    color: #ccc;
    font-size: 14px;
    text-align: left;
    line-height: 24px;
    margin-left: 40px;
    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
}

.contact > .contact_qr_code > img {
    height: 140px;
    width: 140px;
    border: none;
}

.contact_info a {
    color: #ccc;
    text-decoration: none;
}

.contact_info > .contact_info_title {
    color: #fff;
    font-size: 16px;
}

.banner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 115px;
    text-align: center;
}

.trs_linear {
    transition: all linear 300ms;
    -webkit-transition: all linear 300ms;
    -moz-transition: all linear 300ms;
    -o-transition: all linear 300ms;
}

.banner > img {
    height: auto;
    width: 562px;
    border: none;
}

.wrapper {
    position: relative;
}

.wrapper .first-page {
    height: 570px;
    width: 100%;
    position: relative;
}

.first-page .background {
    height: 570px;
    width: 100%;
    background: url(../img/wrapper.jpg) no-repeat center bottom;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.wrapper .section {
    padding: 80px 0;
}

.section .col-3 {
    width: 32.33%;
    min-height: 100px;
    display: inline-block;
    margin: 0;
    text-align: center;
    vertical-align: top;
}

.section .col-6 {
    width: 49%;
    min-height: 100px;
    display: inline-block;
    margin: 0;
    text-align: center;
    vertical-align: top;
}

.section .col-12 {
    height: 30vh;
    width: 100%;
    min-height: 100px;
    display: inline-block;
    margin: 0;
    text-align: center;
    vertical-align: top;
}

.info {
    padding: 38px 0;
    color: #354053;
    background-color: #f3f5f7;
    font-size: 18px;
}

.info .container {
    line-height: 30px;
}

.introduce section {
    font-size: 20px;
    color: #333;
    margin-bottom: 18px;
}

.introduce section:last-child {
    margin-bottom: 0px;
}

.introduce .introduce_icon {
    width: 120px;
    height: 120px;
    background: url(../img/icon_pc.png) no-repeat 0 0;
    background-size: auto 120px;
    display: block;
    margin: 0 auto;
    margin-bottom: 26px;
}

.introduce .introduce_icon.icon-2 {
    background-image: url(../img/icon_android.png);
}

.introduce .introduce_icon.icon-3 {
    background-image: url(../img/icon_iOS.png);
}

.introduce > .en {
    font-size: 24px;
}

.introduce > .dl {
    display: block;
    width: 120px;
    margin: 0 auto;
    color: #2aaadd;
    font-size: 18px;
    text-decoration: none;
}

.introduce > .dl.disable {
    color: #ccc;
}

@media screen and (min-width: 1400px) {
    .wrapper .first-page {
        height: 800px;
    }

    .first-page .background {
        height: 800px;
    }
}

@media screen and (max-width: 800px) {
    .container {
        width: 90%;
    }

    .introduce.col-3 {
        display: block;
        width: 100%;
        margin-bottom: 60px;
    }

    .introduce.col-3:last-child {
        margin-bottom: 0px;
    }

    .introduce.col-6 {
        display: block;
        width: 100%;
        margin-bottom: 60px;
    }

    .introduce.col-6:last-child {
        margin-bottom: 0px;
    }

    .contact .contact_qr_code {
        display: block;
        text-align: center;
        margin: 0 0 30px;
    }

    .contact .contact_info {
        display: block;
        text-align: center;
        margin: 0;
    }
}

@media screen and (max-width: 600px) {
    .nav > .title {
        display: none;
    }

    .banner > img {
        margin-top: 7%;
        width: 70%;
    }

    .wrapper .first-page {
        height: 300px;
    }

    .first-page .background {
        height: 300px;
    }

    .contact > .contact_qr_code {
        height: 180px;
    }

    .contact > .contact_qr_code > img {
        height: 180px;
        width: 180px;
    }
}
